ifs74_ue4/staffinfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
        targetNamespace="http://www.cis.jku.at/IFS2/Staffinfo" xmlns:si="http://www.cis.jku.at/IFS2/Staffinfo">

    <complexType name="staffinfoType">
        <sequence>
            <element maxOccurs="unbounded" ref="si:job"/>
            <element maxOccurs="unbounded" ref="si:region"/>
        </sequence>
    </complexType>

    <element name="staffinfo" type="si:staffinfoType">
        <key name="jobKey">
            <selector xpath="si:job"/>
            <field xpath="@id"/>
        </key>
        <key name="employeeKey">
            <selector xpath=".//si:employee"/>
            <field xpath="@id"/>
        </key>
        <keyref name="jobKeyref" refer="si:jobKey">
            <selector xpath=".//si:employee"/>
            <field xpath="si:jobid"/>
        </keyref>
    </element>

    <element name="job" type="si:jobType"/>
    <complexType name="jobType">
        <sequence>
            <element ref="si:title"/>
            <element ref="si:minsalary"/>
            <element ref="si:maxsalary"/>
        </sequence>
        <attribute name="id" use="required" type="NCName"/>
    </complexType>

    <element name="title" type="string"/>
    <element name="minsalary" type="integer"/>
    <element name="maxsalary" type="integer"/>
    <element name="region" type="si:regionType"/>
    <complexType name="regionType">
        <sequence>
            <element maxOccurs="unbounded" ref="si:country"/>
        </sequence>
        <attribute name="id" use="required" type="integer"/>
        <attribute name="name" use="required" type="string"/>
    </complexType>


    <element name="country" type="si:countryType"/>
    <complexType name="countryType">
        <sequence>
            <element ref="si:name"/>
            <element minOccurs="0" maxOccurs="unbounded" ref="si:location"/>
        </sequence>
        <attribute name="id" use="required" type="NCName"/>
    </complexType>

    <element name="location" type="si:locationType"/>
    <complexType name="locationType">
        <sequence>
            <element ref="si:streetaddress"/>
            <element minOccurs="0" ref="si:postalcode"/>
            <element ref="si:city"/>
            <element minOccurs="0" ref="si:stateprovince"/>
            <element minOccurs="0" maxOccurs="unbounded" ref="si:department"/>
        </sequence>
        <attribute name="id" use="required" type="integer"/>
    </complexType>

    <element name="streetaddress" type="string"/>
    <element name="postalcode" type="string"/>
    <element name="city" type="string"/>
    <element name="stateprovince" type="string"/>
    <element name="department" type="si:departmentType"/>
    <complexType name="departmentType">
        <sequence>
            <element ref="si:name"/>
            <element minOccurs="0" maxOccurs="unbounded" ref="si:employee"/>
        </sequence>
        <attribute name="id" use="required" type="integer"/>
        <attribute name="manager" type="integer"/>
    </complexType>

    <element name="firstname" type="string"/>
    <element name="lastname" type="string"/>
    <element name="email" type="NCName"/>
    <element name="phone" type="NMTOKEN"/>
    <element name="hiredate" type="date"/>
    <element name="jobid" type="NCName"/>
    <element name="salary" type="integer"/>
    <element name="manager" type="integer"/>
    <element name="name" type="string"/>
    <element name="employee" type="si:employeeType"/>
    <complexType name="employeeType">
        <sequence>
            <element ref="si:firstname"/>
            <element ref="si:lastname"/>
            <element ref="si:email"/>
            <element ref="si:phone"/>
            <element ref="si:hiredate"/>
            <element ref="si:jobid"/>
            <element ref="si:salary"/>
            <element minOccurs="0" ref="si:manager"/>
        </sequence>
        <attribute name="id" use="required" type="integer"/>
    </complexType>
</schema>
