ifs74_ue4/staffinfo_mit_Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
        targetNamespace="http://www.cis.jku.at/IFS2/Staffinfo" xmlns:si="http://www.cis.jku.at/IFS2/Staffinfo">

    <element name="staffinfo">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" ref="si:job"/>
                <element maxOccurs="unbounded" ref="si:region"/>
            </sequence>
        </complexType>
        <!-- TODO: Keys definiteren -ev complex type einfügen-->
    </element>

    <element name="handycatalog">
        <complexType>
                <sequence>
                    <element maxOccurs="unbounded" ref="si:job"/>
                    <element maxOccurs="unbounded" ref="si:region"/>
                </sequence>
        </complexType>

    </element>


    <element name="job">
        <complexType>
            <sequence>
                <element ref="si:title"/>
                <element ref="si:minsalary"/>
                <element ref="si:maxsalary"/>
            </sequence>
            <attribute name="id" use="required" type="NCName"/>
        </complexType>
    </element>

    <element name="title" type="string"/>
    <element name="minsalary" type="integer"/>
    <element name="maxsalary" type="integer"/>
    <element name="region">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" ref="si:country"/>
            </sequence>
            <attribute name="id" use="required" type="integer"/>
            <attribute name="name" use="required" type="string"/>
        </complexType>
    </element>

    <element name="country">
        <complexType>
            <sequence>
                <element ref="si:name"/>
                <element minOccurs="0" maxOccurs="unbounded" ref="si:location"/>
            </sequence>
            <attribute name="id" use="required" type="NCName"/>
        </complexType>
    </element>

    <element name="location">
        <complexType>
            <sequence>
                <element ref="si:streetaddress"/>
                <element minOccurs="0" ref="si:postalcode"/>
                <element ref="si:city"/>
                <element minOccurs="0" ref="si:stateprovince"/>
                <element minOccurs="0" maxOccurs="unbounded" ref="si:department"/>
            </sequence>
            <attribute name="id" use="required" type="integer"/>
        </complexType>
    </element>

    <element name="streetaddress" type="string"/>
    <element name="postalcode" type="string"/>
    <element name="city" type="string"/>
    <element name="stateprovince" type="string"/>
    <element name="department">
        <complexType>
            <sequence>
                <element ref="si:name"/>
                <element minOccurs="0" maxOccurs="unbounded" ref="si:employee"/>
            </sequence>
            <attribute name="id" use="required" type="integer"/>
            <attribute name="manager" type="integer"/>
        </complexType>
    </element>

    <element name="firstname" type="string"/>
    <element name="lastname" type="string"/>
    <element name="email" type="NCName"/>
    <element name="phone" type="NMTOKEN"/>
    <element name="hiredate" type="NMTOKEN"/>
    <element name="jobid" type="NCName"/>
    <element name="salary" type="integer"/>
    <element name="manager" type="integer"/>
    <element name="name" type="string"/>
    <element name="employee">
        <complexType>
            <sequence>
                <element ref="si:firstname"/>
                <element ref="si:lastname"/>
                <element ref="si:email"/>
                <element ref="si:phone"/>
                <element ref="si:hiredate"/>
                <element ref="si:jobid"/>
                <element ref="si:salary"/>
                <element minOccurs="0" ref="si:manager"/>
            </sequence>
            <attribute name="id" use="required" type="integer"/>
        </complexType>
    </element>
</schema>
